<div class="flex h-dvh">
  <div class="m-auto w-full max-w-sm px-4">
    <form
      class="flex flex-col gap-4 rounded-md border p-4"
      [formGroup]="registerForm"
      (ngSubmit)="onSubmit()"
    >
      <label class="form-field">
        Email
        <input type="text" formControlName="email" />
        <app-control-errors
          [errors]="registerForm.controls.email.errors"
          [touched]="registerForm.controls.email.touched"
        />
      </label>

      <label class="form-field">
        Name
        <input type="text" formControlName="name" />
        <app-control-errors
          [errors]="registerForm.controls.name.errors"
          [touched]="registerForm.controls.name.touched"
        />
      </label>

      <label class="form-field">
        Password
        <input type="password" formControlName="password" />
        <app-control-errors
          [errors]="registerForm.controls.password.errors"
          [touched]="registerForm.controls.password.touched"
        />
      </label>

      <button type="submit" class="btn btn-primary">Signup</button>

      <p class="mx-auto text-sm">
        Already have an account?
        <a class="link" [routerLink]="'/' + PATH.LOGIN"> Login </a>
      </p>
    </form>
  </div>
</div>
