<form
  class="flex flex-col gap-y-4"
  [formGroup]="registerForm"
  (ngSubmit)="onSubmit()"
>
  <label class="form-field">
    Email
    <input appTrimOnBlur type="text" formControlName="email" />
    <app-control-errors
      [errors]="registerForm.controls.email.errors"
      [touched]="registerForm.controls.email.touched"
    />
  </label>

  <label class="form-field">
    Name
    <input appTrimOnBlur type="text" formControlName="name" />
    <app-control-errors
      [errors]="registerForm.controls.name.errors"
      [touched]="registerForm.controls.name.touched"
    />
  </label>

  <label class="form-field">
    Password
    <input appTrimOnBlur type="password" formControlName="password" />
    <app-control-errors
      [errors]="registerForm.controls.password.errors"
      [touched]="registerForm.controls.password.touched"
    />
  </label>

  <div class="flex justify-end gap-x-4">
    <button type="button" class="btn btn-secondary w-24" (click)="close()">
      Cancel
    </button>
    <button type="submit" class="btn btn-primary w-24">Save</button>
  </div>
</form>
