<ul class="divide-y divide-gray-100">
  @for (user of users$ | async; track user._id) {
    <li class="flex gap-x-6 py-5">
      <div class="flex min-w-0 gap-x-4">
        <div class="min-w-0 flex-auto">
          <p class="text-sm font-semibold leading-6 text-gray-900">
            {{ user.name }}
          </p>
          <p class="mt-1 truncate text-xs leading-5 text-gray-500">
            {{ user.email }}
          </p>
        </div>
      </div>

      <span class="flex-grow"></span>

      <div class="hidden shrink-0 sm:flex sm:flex-col sm:items-end">
        <p class="text-sm leading-6 text-gray-900">
          {{ user.role | role }}
        </p>
        <app-user-status [isActive]="user.isActive" />
      </div>
    </li>
  }
</ul>
