<div class="flex items-center justify-between py-5">
  <h2 class="text-xl font-semibold">User List</h2>

  <button class="btn btn-secondary" (click)="openUserEditor()">
    Create user
  </button>
</div>

<ul class="divide-y">
  @for (user of users(); track user._id) {
    <li class="flex gap-x-2 py-5">
      <div class="flex gap-x-4">
        <div class="flex-auto">
          <p class="font-semibold text-gray-dark">
            {{ user.name }}
          </p>
          <p class="mt-1 truncate text-sm text-gray-light">
            {{ user.email }}
          </p>
        </div>
      </div>

      <span class="flex-grow"></span>

      <div class="hidden shrink-0 sm:flex sm:flex-col sm:items-end">
        <p class="text-sm text-gray-dark">
          {{ user.role | role }}
        </p>
        <app-user-status [isActive]="user.isActive" />
      </div>

      <app-user-list-dropdown [user]="user" />
    </li>
  }
</ul>
