<div class="flex h-dvh">
  <div class="m-auto w-full max-w-sm px-4">
    <form
      class="flex flex-col gap-4 rounded-md border p-4"
      [formGroup]="loginForm"
      (ngSubmit)="onSubmit()"
    >
      <label class="form-field">
        Email
        <input type="text" formControlName="email" />
        <app-control-errors
          [errors]="loginForm.controls.email.errors"
          [touched]="loginForm.controls.email.touched"
        />
      </label>

      <label class="form-field">
        Password
        <input type="password" formControlName="password" />
        <app-control-errors
          [errors]="loginForm.controls.password.errors"
          [touched]="loginForm.controls.password.touched"
        />
      </label>

      <button type="submit" class="btn btn-primary">Login</button>

      <p class="mx-auto text-sm">
        Don't have an account?
        <a class="link" [routerLink]="'/' + PATH.REGISTER"> Signup </a>
      </p>
    </form>
  </div>
</div>
